In [3]:
import pandas as pd
from scipy import stats
import numpy as np

In [5]:
df=pd.read_csv("covid.csv")

In [9]:
df.duplicated().sum()

0

In [13]:
##removing the duplicates

df.drop_duplicates(inplace=True)

In [11]:
##well i guess there's no duplicate values at all
##still doing the stuff thats supposed to be done for today

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Serial Number    231 non-null    int64
 1   Country          231 non-null    object
 2   Total Cases      231 non-null    object
 3   Total Deaths     225 non-null    object
 4   Total Recovered  210 non-null    object
 5   Active Cases     212 non-null    object
 6   Total Test       213 non-null    object
 7   Population       228 non-null    object
dtypes: int64(1), object(7)
memory usage: 14.6+ KB

In [27]:
cols=["Total Cases","Total Deaths","Total Recovered","Active Cases","Total Test","Population"]
df[cols] = (
    df[cols]
    .replace(',', '', regex=True)  # remove commas
    .replace(['unknown', 'N/A', '-'], np.nan)  # handle text
    .astype(float)  # convert to float
)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Serial Number    231 non-null    int64
 1   Country          231 non-null    object
 2   Total Cases      231 non-null    float64
 3   Total Deaths     225 non-null    float64
 4   Total Recovered  210 non-null    float64
 5   Active Cases     212 non-null    float64
 6   Total Test       213 non-null    float64
 7   Population       228 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 14.6+ KB

In [33]:
z_scores=stats.zscore(df["Total Cases"].dropna())
outliers=df[np.abs(z_scores)>3]

In [35]:
print(outliers[["Country","Total Cases"]])

   Country  Total Cases
0      USA  104196861.0
1    India   44682784.0
2   France   39524311.0
3  Germany   37779833.0
4   Brazil   36824580.0
5    Japan   32588442.0

In [55]:
valid = df["Total Deaths"].dropna()
z_scores2=stats.zscore(valid)
mask = np.abs(z_scores2) > 3
outliers2 = df.loc[valid.index[mask], ["Country", "Total Deaths"]]
print(outliers2)

  Country  Total Deaths
0     USA     1132935.0
1   India      530740.0
4  Brazil      697074.0
9  Russia      395108.0