In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("cafe_cleaned.csv")

In [5]:
df.describe()

          Quantity  Price Per Unit  Total Spent
count  9962.000000     9962.000000  9960.000000
mean      3.025597        2.947902     8.930924
std       1.420181        1.279759     6.004475
min       1.000000        1.000000     1.000000
25%       2.000000        2.000000     4.000000
50%       3.000000        3.000000     8.000000
75%       4.000000        4.000000    12.000000
max       5.000000        5.000000    25.000000

In [26]:
df['Price Per Unit'].mean()

2.94790202770528

In [28]:
df['Price Per Unit'].min(), df['Price Per Unit'].max()

(1.0, 5.0)

In [30]:
df['Price Per Unit'].mode()

0    3.0
Name: Price Per Unit, dtype: float64

In [32]:
df['Price Per Unit'].median()

3.0

In [38]:
##lets make a comparison table, of mean and median
##first get the numeric columns

cols=["Quantity","Price Per Unit","Total Spent"]

##then make the comparison table, you're giving a dictionary here
comparison= pd.DataFrame({"Mean":df[cols].mean(),"Median":df[cols].median()})

In [40]:
comparison

                    Mean  Median
Quantity        3.025597     3.0
Price Per Unit  2.947902     3.0
Total Spent     8.930924     8.0