In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("titanic.csv")
df.isnull().sum()

survived    0
pclass      0
name        0
sex         0
age         0
fare        0
sibsp       0
parch       0
dtype: int64

In [3]:
##there are no missing values? but whatver
##lets just directly go to replacing for numerical values in the sex category

In [4]:
df["sex"].replace({"male":0,"female":1},inplace=True)

/var/folders/vp/xzl4_ng54mq8b56ssxrmkyjr0000gn/T/ipykernel_14056/1468419001.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["sex"].replace({"male":0,"female":1},inplace=True)
/var/folders/vp/xzl4_ng54mq8b56ssxrmkyjr0000gn/T/ipykernel_14056/1468419001.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["sex"].replace({"male":0,"female":1},inplace=True)

In [5]:
df.head(3)

,survived,pclass,name,sex,age,fare,sibsp,parch
0,0,3,"Braund, Mr. Owen Harris",0,22.0,7.2500,1,0
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,71.2833,1,0
2,1,3,"Heikkinen, Miss. Laina",1,26.0,7.9250,0,0