In [1]:
import pandas as pd

In [27]:
df=pd.read_csv("cafe_cleaned.csv")

##now we'll groupby certain columns and find the following things
##the most expensive item
##how much is being spent in store and take away
##which item sells the most

In [29]:
df.groupby("Item")["Price Per Unit"].mean().sort_values(ascending=False)

Item
Salad       5.0
Sandwich    4.0
Smoothie    4.0
Cake        3.0
Juice       3.0
Coffee      2.0
Tea         1.5
Cookie      1.0
Name: Price Per Unit, dtype: float64

In [ ]:
##here we see that salad is the most expensive item after sorting it

In [17]:
df.groupby("Location")["Total Spent"].agg(["mean","median","count"])

              mean  median  count
Location
In-store  9.033300     8.0   3003
Takeaway  8.802758     7.5   3009

In [ ]:
##we see that customers buy more in store than for takeaway

In [19]:
df["Item"].value_counts()

Item
Juice       1171
Coffee      1165
Salad       1148
Cake        1139
Sandwich    1131
Smoothie    1096
Cookie      1092
Tea         1089
Name: count, dtype: int64

In [ ]:
## juice is the most sold item , followed by coffee