In [193]:
import pandas as pd
from scipy import stats
import numpy as np

In [195]:
df=pd.read_csv("covid_cleaned.csv")

In [197]:
df.duplicated().sum()

0

In [199]:
##removing the duplicates

df.drop_duplicates(inplace=True)

In [201]:
##well i guess there's no duplicate values at all
##still doing the stuff thats supposed to be done for today

In [203]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Serial Number    231 non-null    int64
 1   Country          231 non-null    object
 2   Total Cases      231 non-null    float64
 3   Total Deaths     231 non-null    float64
 4   Total Recovered  231 non-null    float64
 5   Active Cases     212 non-null    float64
 6   Total Test       213 non-null    float64
 7   Population       231 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 14.6+ KB

In [205]:
# CORRECTED syntax:
cols = ["Total Cases","Total Deaths","Total Recovered","Active Cases","Total Test","Population"]
df[cols] = (df[cols]
    .replace(',', '', regex=True)
    .replace(['unknown', 'N/A', '-'], np.nan)
    .astype(float))

In [207]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Serial Number    231 non-null    int64
 1   Country          231 non-null    object
 2   Total Cases      231 non-null    float64
 3   Total Deaths     231 non-null    float64
 4   Total Recovered  231 non-null    float64
 5   Active Cases     212 non-null    float64
 6   Total Test       213 non-null    float64
 7   Population       231 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 14.6+ KB

In [209]:
z_scores=stats.zscore(df["Total Cases"].dropna())
outliers=df[np.abs(z_scores)>3]

In [211]:
print(outliers[["Country","Total Cases"]])

   Country  Total Cases
0      USA  104196861.0
1    India   44682784.0
2   France   39524311.0
3  Germany   37779833.0
4   Brazil   36824580.0
5    Japan   32588442.0

In [213]:
valid = df["Total Deaths"].dropna()
z_scores2=stats.zscore(valid)
mask = np.abs(z_scores2) > 3
outliers2 = df.loc[valid.index[mask], ["Country", "Total Deaths"]]
print(outliers2)

         Country  Total Deaths
93       RÃ©union         919.0
112         Laos         758.0
127        Malta         824.0
135  Ivory Coast         833.0
142         Fiji         883.0
145   Mauritania         997.0
156     Tanzania         846.0
162      Bahamas         833.0
165        Haiti         860.0
166         Mali         743.0

In [215]:
df.isnull().sum()

Serial Number       0
Country             0
Total Cases         0
Total Deaths        0
Total Recovered     0
Active Cases       19
Total Test         18
Population          0
dtype: int64

In [217]:
df.to_csv("covid_cleaned.csv", index=False)