In [82]:
import pandas as pd

In [84]:
df=pd.read_csv("covid.csv")

In [86]:
df.isnull().sum()

Serial Number       0
Country             0
Total Cases         0
Total Deaths        6
Total Recovered    21
Active Cases       19
Total Test         18
Population          3
dtype: int64

In [88]:
df.dropna()

,Serial Number,Country,Total Cases,Total Deaths,Total Recovered,Active Cases,Total Test,Population
0,1,USA,"104,196,861","1,132,935","101,322,779","1,741,147","1,159,832,679","334,805,269"
1,2,India,"44,682,784","530,740","44,150,289","1,755","915,265,788","1,406,631,776"
2,3,France,"39,524,311","164,233","39,264,546","95,532","271,490,188","65,584,518"
3,4,Germany,"37,779,833","165,711","37,398,100","216,022","122,332,384","83,883,596"
4,5,Brazil,"36,824,580","697,074","35,919,372","208,134","63,776,166","215,353,593"
...,...,...,...,...,...,...,...,...
217,218,Anguilla,"3,904",12,"3,879",13,"51,382","15,230"
218,219,Macao,"3,488",120,"3,357",11,"7,850","667,490"
219,220,Saint Pierre Miquelon,"3,452",2,"2,449","1,001","25,400","5,759"
220,221,Wallis and Futuna,"3,427",7,438,"2,982","20,508","10,982"
224,225,Montserrat,"1,403",8,"1,376",19,"17,762","4,965"

In [90]:
df.isnull().sum()

Serial Number       0
Country             0
Total Cases         0
Total Deaths        6
Total Recovered    21
Active Cases       19
Total Test         18
Population          3
dtype: int64

In [95]:
## trying to fill the null values with the mean of the populations
df["Population"] = pd.to_numeric(df["Population"], errors="coerce")
df["Population"] = df["Population"].fillna(df["Population"].mean())

In [97]:
df.isnull().sum()

Serial Number       0
Country             0
Total Cases         0
Total Deaths        6
Total Recovered    21
Active Cases       19
Total Test         18
Population          0
dtype: int64

In [99]:
df["Total Deaths"] = pd.to_numeric(df["Total Deaths"], errors="coerce")
df["Total Deaths"]=df["Total Deaths"].fillna(df["Total Deaths"].median())

In [101]:
df["Total Recovered"] = pd.to_numeric(df["Total Recovered"], errors="coerce")
df["Total Recovered"]=df["Total Recovered"].fillna(df["Total Recovered"].median())

In [103]:
df["Total Cases"] = df["Total Cases"].astype(str).str.replace(",", "").astype(float)
df["Total Test"] = df["Total Test"].astype(str).str.replace(",", "").astype(float)

In [105]:
df.isnull().sum()

Serial Number       0
Country             0
Total Cases         0
Total Deaths        0
Total Recovered     0
Active Cases       19
Total Test         18
Population          0
dtype: int64

In [107]:
df.to_csv("covid_cleaned.csv", index=False)