In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("titanic.csv")

In [3]:
print(df.head(10))

   survived  pclass                                               name  \
0         0       3                            Braund, Mr. Owen Harris
1         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2         1       3                             Heikkinen, Miss. Laina
3         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4         0       3                           Allen, Mr. William Henry
5         0       1                            McCarthy, Mr. Timothy J
6         0       3                     Palsson, Master. Gosta Leonard
7         1       3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
8         1       2                Nasser, Mrs. Nicholas (Adele Achem)
9         1       3                    Sandstrom, Miss. Marguerite Rut

      sex   age     fare  sibsp  parch
0    male  22.0   7.2500      1      0
1  female  38.0  71.2833      1      0
2  female  26.0   7.9250      0      0
3  female  35.0  53.1000      1      0
4    male  35.0   8.0500      0      0
5    male  54.0  51.8625      0      0
6    male   2.0  21.0750      3      1
7  female  27.0  11.1333      0      2
8  female  14.0  30.0708      1      0
9  female   4.0  16.7000      1      1

In [4]:
print(df.isnull().sum())

survived    0
pclass      0
name        0
sex         0
age         0
fare        0
sibsp       0
parch       0
dtype: int64

In [5]:
print("Total passengers",len(df))

Total passengers 714

In [6]:
print("Overall Survival Rate: ", df["survived"].mean())

Overall Survival Rate:  0.4061624649859944

In [8]:
print("Survival rate by gender: ", df.groupby("sex")["survived"].mean())

Survival rate by gender:  sex
female    0.754789
male      0.205298
Name: survived, dtype: float64

In [11]:
print("Average age by class: ",df.groupby("pclass")["age"].mean())

Average age by class:  pclass
1    38.233441
2    29.877630
3    25.140620
Name: age, dtype: float64

In [13]:
df["AgeGroup"]=pd.cut(df["age"],bins=[0,12,18,60,100],labels=["Child","Teen","Adult","Senior"])

In [14]:
print(df["AgeGroup"])

0      Adult
1      Adult
2      Adult
3      Adult
4      Adult
       ...
709    Adult
710    Adult
711    Adult
712    Adult
713    Adult
Name: AgeGroup, Length: 714, dtype: category
Categories (4, object): ['Child' < 'Teen' < 'Adult' < 'Senior']

In [15]:
print(df.groupby(["pclass","sex"])["survived"].mean())

pclass  sex
1       female    0.964706
        male      0.396040
2       female    0.918919
        male      0.151515
3       female    0.460784
        male      0.150198
Name: survived, dtype: float64